{% extends 'base.html' %}

{% block content %}
    <h1>Shopee</h1>
    <h4>{{ user }}</h4>
    <h4>{{ kelas }}</h4>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td> 
                <button onclick="window.location.href='{% url 'main:decrement_amount' item.id %}'">-</button>
                <span id="amount{{ item.id }}">{{ item.amount }}</span>
                <button onclick="window.location.href='{% url 'main:increment_amount' item.id %}'">+</button>
            </td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.category}}</td>
            <td><button onclick="window.location.href='{% url 'main:delete_item' item.id %}'">Hapus</button></td>
        </tr>
    {% endfor %}
</table>

<h4>Kamu menyimpan {{ items|length }} jenis item pada aplikasi ini</h4>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<br>
<a href="{% url 'main:create_product' %}">
    <button>
        Tambahkan Barang
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}