{% extends 'base.html' %}

{% block content %}
    <h1>Shopee</h1>
    <h4>{{ nama }}</h4>
    <h4>{{ kelas }}</h4>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
        </tr>
    {% endfor %}
</table>

<h4>Kamu menyimpan {{ products|length }} jenis item pada aplikasi ini</h4>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Tambahkan Barang
    </button>
</a>

{% endblock content %}